[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "==1.5.2"
scipy = "==1.16.2"
threadpoolctl = "==3.6.0"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.13"
